name: Deploy MkDocs site

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: sudo apt install pandoc
      - name: Create site directory
        run: mkdir -p site
      - name: Build site
        run: |
          for f in docs/*.md; do
            filename=$(basename "$f" .md)
            pandoc "$f" -s -o "site/${filename}.html"
          done
      - name: Fix references from .md to .html
        run: |
          sudo find site -type f -name "*.html" -exec sed -i 's/\.md"/.html"/g' {} +
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          publish_branch: gh-pages
